@media screen and (max-width: 500px) {  

	/* Masquer le menu, */
	 div.logo, div#bloc_aide, div.lieu_livraison, div#bloc_cat_ord, a.aide, a.bout_cat {
		display: none !important;
	} 
	div#header {
		background-color: #131921 !important;
	}
	div#header div.slogan {
		width: auto;
		padding: 0px 10px 0px 50px;
		padding: 10px 0;
		padding-left: 0.5%;
	}
	div#header div.slogan div img#bouton_menu {
		width: 26px;
		height: 26px;
		position: relative;
		top: 0px;
	}
	div#header div.slogan div span {
		font-family: Century Gothic;
		color: #fff;
		font-weight: bold;
		font-size: 1.15em;
		position: relative;
		top: -6px;
	}
	div#header div.slogan div {
		display: inline-block;
	}
	div#header div.slogan div.compte {
		position: absolute;
		right: 2%;
		top: 6px;
	}
	div#header div.slogan div.compte em {
		background: white;
		padding: 0px 4px;
		font-size: 0.8em;
		border-radius: 10px;
		font-weight: bold;
		color: red;
		font-style: normal;
		position: relative;
		top: -15px;
		left: 10px;
		z-index: 2;
	}
	div#header div.slogan div img#cart {
		width: 24px;
		height: 24px;
		position: relative;
		top: 6px;
		margin-right: 10px;
	}
	div#header div.slogan div img#compte {
		width: 17px;
		height: 20px;
		position: relative;
		top: 2px;
	}
	div#header div.slogan div img#profil {
		width: 30px;
		height: 30px;
		border-radius: 19px;
		position: relative;
		top: 4px;
		border: 2px solid white;
	}
	div#header div.slogan div img#aide {
		z-index: 2;
		position: relative;
		top: 3px;
		left: 9px;
	}
	div#header div.slogan div img#icone_ligne {
		width: 10px;
		height: 10px;
		border-radius: 16px;
		position: absolute;
		top: 60%;
		right: 15%;
	}
	div#header div.slogan div.pannier{
		position: relative;
		top: -9px;
	}
	div#header div.blog_recherche {
		width: 100% !important;
		position: relative;
		left: 0%;
		margin-top: 6px;
		text-align: center;
	}
	div#header div.blog_recherche  div.champ, div.search {
		display: inline-block;
		vertical-align: middle;
		margin: 0;
	}
	div.blog_recherche:after {
		content: "votre adresse de livraison: cameroun";
		width: 100%;
		color: #fff;
		font-size: 0.8em;
		margin: 0;
		padding: 3% 8%;
		background-color: #232f3e;
	}
	div#header div.blog_recherche div.champ {
		width: 82%;
		height: 35px;
	}
	div#header div.blog_recherche div.search {
		background-color: #f98925;
		width: 40px;
		height: 35px;
		border-radius: 0px 4px 4px 0px;
		text-align: center;
	}
	div#header div.blog_recherche input {
		background: white;
		width: 100%;
		height: 100%;
		outline: none;
		border: 0;
		font-size: 0.9em;
		text-align: center;
	}
	div#header div.blog_recherche input::placeholder {
		text-align: center;
	}
	div#header div.blog_recherche input[type=image] {
		width: 18px;
		height: 18px;
		margin-top: 12px;
	}
	
	div#bloc_aide {
		font-family: Arial;
		width: 350px;
		background-color: #fff;
		box-shadow: 0px 1px 1px 1px #C0C0C0;
		position: absolute;
		right: 70px;
		border-radius: 6px;
		margin-top: -1000px; 
		transition: all 0.5s;
	}
	div#bloc_aide div.besoin {
		padding: 10px 10px;
		padding-left: 50px;
	}
	div#bloc_aide img.direction {
		z-index: 1;
		margin-top: -30px;
		background-color: #fff;
		position: absolute;
		right: 20px;
	}
	div#bloc_aide div.besoin p {
		margin-top: -8px;
		font-size: 0.9em;	
	}
	div#bloc_aide a {
		font-family: Arial;
		text-decoration: none;
		color: black;
		opacity: 0.6;
	}
	div#bloc_aide a:hover {
		color: #0dadf0;
		opacity: 1;
		font-weight: bold;
	}
	div#bloc_aide div.besoin h3{
		margin-top: 28px;
		margin-bottom: 28px;
		font-size: 1.05em;
	}
	div#bloc_aide div.numero {
		background-color: #f2f2f2;
		padding: 10px 10px;
		padding-left: 50px;
		color: black;
		height: 65px;
		font-size: 0.9em;
	}
	div#bloc_aide div.numero p span {
		opacity: 0.7;
		font-size: 00.8em;
	}
	div#bloc_aide div.numero p i a{
		color: #0dadf0;
		font-weight: bold;
		opacity: 1;
	}
	div#bloc_aide div.numero p.para {
		margin-left: 30px;
	}
	div#bloc_aide div.numero p img.phone {
		float: left;
	}
	div#header div#nav {
		z-index: 2;
		background: rgb(0,25,60);      /*#131921; */ /* rgb(255,0,128);  #f70873; */
		width: 100%;
		display: none !important;
		transition: all 2s;
		margin-top: -30px;
	}
	div#header div#nav ul.menu {
		margin-top: 30px;
	}
	div#header div#nav ul.menu li{
		width: 97%;
		text-decoration: none;
		display: block;
		margin: 5px -10px;
		padding-bottom: 5px;
		border-bottom: 2px solid black;
	}
	div#header div#nav ul.menu li a {
		font-family: 'Century Gothic', Trebuchet MS, Arial, sans-serif;
		text-decoration: none;
		color: #fff;
		font-size: 0.75em;
		font-weight:bold;
		text-transform: uppercase;
	}
	div#header div#nav ul.menu img {
		position: relative;
		top: 5px;
	}
	div#header div#nav li#categories img#bas {
		position: relative;
		top: 6px;
	}
	div#header div#nav li#categories ul#bloc_cat {
		margin-top: 7px;
		margin-left: 0%;
		display: none;
	}
	div#header div#nav li#categories ul#bloc_cat li{
		margin: 0px -8px;
		padding-bottom: 10px;
		border-bottom: 0;
	}
	div#header div#nav li#categories ul#bloc_cat  li a {
		text-decoration: none;
		font-size: 0.9em;
		text-transform: uppercase;
	}
	div#header div#nav li#categories ul#bloc_cat img {
		width: 14px;
		height: 10px;
		border-radius: 2px;
		position: relative;
		top: 4px;
	}
	
	/* pied de la page */
	div#pied div.newsletters div.champ input[type=email] {
		width: 60% !important;
	}

	}

